Repository safe-global/safe-wallet-monorepo, pull requests merged in 2022-11, with the labels that each got.

#1042 feat(safe-apps): Analytics refactor
  src/components/common/CopyButton/index.tsx
  src/components/create-safe/status/useSafeCreationEffects.ts
  src/components/safe-apps/AddCustomAppModal/CustomApp.tsx
  src/components/safe-apps/AddCustomAppModal/index.tsx
  src/components/safe-apps/AppCard/index.tsx
  src/components/safe-apps/AppFrame/index.tsx
  src/components/safe-apps/AppFrame/useAppCommunicator.ts
  src/components/safe-apps/SafeAppLandingPage/index.tsx
  src/components/safe-apps/SafeAppList.tsx
  src/hooks/safe-apps/useSafeApps.ts
  src/pages/share/safe-app.tsx
  src/services/analytics/events/safeApps.ts
  src/services/analytics/gtm.ts
  src/services/analytics/index.ts
  src/services/analytics/types.ts
Labels: safe-apps

#1193 Fix: sandbox safe app icons
  src/components/dashboard/FeaturedApps/FeaturedApps.tsx
  src/components/safe-apps/AddCustomAppModal/CustomApp.tsx
  src/components/safe-apps/AddCustomAppModal/styles.module.css
  src/components/safe-apps/AppCard/index.tsx
  src/components/safe-apps/SafeAppIcon/index.tsx
  src/components/safe-apps/SafeAppLandingPage/SafeAppDetails.tsx
  src/components/safe-apps/SafeAppsModalLabel/index.tsx
  src/components/safe-apps/SafeAppsModalLabel/styles.module.css
  src/components/tx/modals/NewTxModal/index.tsx
  src/tests/pages/apps.test.tsx
Labels: safe-apps

#1136 fix(safe-apps): Safe apps analysis improvements
  src/components/safe-apps/AppFrame/index.tsx
  src/hooks/safe-apps/useSafeAppFromBackend.ts
  src/services/analytics/__tests__/gtm.test.ts
  src/services/analytics/gtm.ts
Labels: bug, safe-apps

#1276 fix: updated tx queue bar zIndex to avoid overlaps
  src/components/safe-apps/AppFrame/TransactionQueueBar/styles.module.css
Labels: bug
